<div class="section-header">
  <div>
    <h2>Product & Catalog</h2>
    <p class="section-desc">
      Bulk import and view liquor inventory from Excel.
    </p>
  </div>

  <div class="actions">
    <button class="btn-light" (click)="onBulkImport()">Bulk Import</button>
    <button class="btn-primary" (click)="onAddNewProduct()">
      + Add New Product
    </button>
  </div>
</div>

<!-- Hidden File Input -->
<input
  type="file"
  #fileInput
  accept=".xlsx"
  hidden
  (change)="onFileSelected($event)"
/>

<div class="filters-row">
  <div class="info-chip">
    Total Records: <strong>{{ liquorRows.length }}</strong>
  </div>
</div>

<div class="table-scroll">
  <div class="table-wrapper">
   <table>
  <thead>
    <tr>
      <th class="sno num">Sr. No.</th>
      <th class="brand">Brand</th>
      <th class="num strength">Strength (%)</th>
      <th class="num size">Bottle Size (ml)</th>
      <th class="num mrp">MRP</th>
      <th class="num cases">Cases</th>
      <th class="num total">Total Bottles</th>
      <th class="batch">Batch</th>
      <th class="month">Month</th>
    </tr>
  </thead>

  <tbody>
    @if (liquorRows.length === 0) {
      <tr>
        <td colspan="9" class="empty-state">
          No liquor inventory found. Import Excel to add data.
        </td>
      </tr>
    } @else {
      @for (row of liquorRows; track row.id; let i = $index) {
        <tr>
          <td class="num sno">{{ i + 1 }}</td>
          <td class="brand">{{ row.brandName }}</td>
          <td class="num strength">{{ row.strengthVv }}%</td>
          <td class="num size">{{ row.bottleSizeMl }} ML</td>
          <td class="num mrp">{{ row.mrpApproved }}</td>
          <td class="num cases">{{ row.noOfCases }}</td>
          <td class="num total">{{ row.totalBottles }}</td>
          <td class="batch">{{ row.batchNumber }}</td>
          <td class="month">{{ row.monthOfMfg }}</td>
        </tr>
      }
    }
  </tbody>
</table>

  </div>
</div>
