<div class="section-header">
  <div>
    <h2>Liquor Inventory</h2>
    <p class="section-desc">
      Bulk import and view liquor inventory from Excel.
    </p>
  </div>

  <div class="actions">
    <button class="btn-light" (click)="onBulkImport()">Bulk Import</button>
  </div>
      <button class="btn-primary" (click)="onAddNewProduct()">
      + Add New Product
    </button>
</div>

<!-- Hidden File Input -->
<input
  type="file"
  #fileInput
  accept=".xlsx"
  hidden
  (change)="onFileSelected($event)"
/>

<div class="filters-row">
  <div class="info-chip">
    Total Records: <strong>{{ liquorRows.length }}</strong>
  </div>
</div>

<div class="table-scroll">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Brand</th>
          <th>Strength (%)</th>
          <th>Bottle Size (ml)</th>
          <th>MRP</th>
          <th>Cases</th>
          <th>Total Bottles</th>
          <th>Batch</th>
          <th>Month</th>
        </tr>
      </thead>

      <tbody>
        @if (liquorRows.length === 0) {
          <tr>
            <td colspan="8" class="empty-state">
              No liquor inventory found. Import Excel to add data.
            </td>
          </tr>
        } @else {
          @for (row of liquorRows; track row.id) {
            <tr>
              <td>{{ row.brandName }}</td>
              <td>{{ row.strengthVv }}</td>
              <td>{{ row.bottleSizeMl }}</td>
              <td>{{ row.mrpApproved }}</td>
              <td>{{ row.noOfCases }}</td>
              <td>{{ row.totalBottles }}</td>
              <td>{{ row.batchNumber }}</td>
              <td>{{ row.monthOfMfg }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
